.list-item {
    margin-left: 2vw;
};
.main-container {
    height: 100%;
    background-color: #e6e6e6;
 }
.list-body {
    background-color: rgba(191, 191, 191, 0.2);
    border-color: rgb(191, 191, 191);
    border-width: 10px;
    border-radius: 20px;
}